/* Header */

img.d-inline-block {
    height:25rem;
    width:25rem;
  }

header img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

header {
  height: 16rem;
  width: 100%;
}

header .navbar {
  position: absolute;
  left: 20rem;
  top: 210px;
}

/* Hero Image */
.carousel-inner {
  transition-duration: 6s;
  transition: ease-in-out;
}
/*$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)*/